<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Counter</title>
</head>
<body>
    <h1>Counter: <%= counter %> times</h1>
    <form action="/addTwo" method="get">
        <input type="submit" value="count +2">
    </form>
    <form action="/reset" method="get">
        <input type="submit" value="RESET">
    </form>
</body>
</html>